asgiref==3.12.1
Django==6.1
django-cors-headers==4.9.0
djangorestframework==3.18.0
PyMySQL==1.2.0
python-dotenv==1.2.2
sqlparse==0.5.5
psycopg2-binary == 2.9.12
djangorestframework-simplejwt==5.5.1
dj_database_url==3.1.2
joblib==1.5.3
numpy==2.4.4
pandas==3.0.2
scikit-learn==1.6.1
tensorflow-cpu==2.21.0
gunicorn==23.0.0
